@namespace Skclusive.Material.Layout
@inherits MaterialComponent

<Drawer
    Class="@_Class"
    Style="@_Style"
    Open="@OpenTemporary"
    OnClose="@OnClose"
    OnClick="@HandleClick"
    Anchor="@Anchor.Left"
    Variant="@DrawerVariant.Temporary"
    PaperStyle="@_DrawerStyle"
    PaperClass="@_DrawerClass"
    @attributes="Attributes">
    <div
        class="@_ContentClass"
        style="@_ContentStyle">
        @ChildContent
    </div>
</Drawer>
<Drawer
    Class="@_Class"
    Style="@_Style"
    Open="@OpenPersistent"
    OnClose="@OnClose"
    OnClick="@HandleClick"
    Anchor="@Anchor.Left"
    Variant="@DrawerVariant.Persistent"
    PaperStyle="@($"{_DrawerStyle};height: calc(100% - 64px);margin-top: 64px;")"
    PaperClass="@_DrawerClass"
    @attributes="Attributes">
    <div
        class="@_ContentClass"
        style="@_ContentStyle">
        @ChildContent
    </div>
</Drawer>
