@namespace Skclusive.Material.Layout
@inherits MiniLayoutComponent

<Component
    RootRef="@RootRef"
    Tag="@Component"
    Class="@_Class"
    Style="@_Style"
    @attributes="Attributes">
    <Topbar
        Class="@TopbarClass"
        Style="@TopbarStyle">
        <LogoContent>
            @LogoContent
        </LogoContent>
    </Topbar>
    <main
        class="@_ContentClass"
        style="@_ContentStyle">
        @BodyContent
        @FooterContent
    </main>
</Component>
