@namespace Skclusive.Material.Layout
@inherits MainLayoutComponent

<Component
    RootRef="@RootRef"
    Tag="@Component"
    Class="@_Class"
    Style="@_Style"
    @attributes="Attributes">
    <Topbar
        Class="@TopbarClass"
        Style="@TopbarStyle"
        OnSidebarClick="@HandleSidebarClick">
        <LogoContent>
            @LogoContent
        </LogoContent>
        <ChildContent>
            @TitleContent
        </ChildContent>
        <ActionsContent>
            @ActionsContent
        </ActionsContent>
    </Topbar>
    <Sidebar
        Class="@SidebarClass"
        Style="@SidebarStyle"
        OnClose="@HandleSidebarClose"
        Open="@SidebarOpen"
        Variant="@SidebarVariant">
        @SidebarContent
    </Sidebar>
    <main
        class="@_ContentClass"
        style="@_ContentStyle">
        @BodyContent
        @FooterContent
    </main>
</Component>
